// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// override font family

* {
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
}

body {
    min-height: 100vh !important;
}

// Navbar Menu

a:hover {
    cursor: pointer !important;
}

.sidenav {
    height: calc(100vh - 60px);
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    color: #828282 !important;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    .username {
        font-weight: 600 !important;
        font-size: 1.1em;
    }
    .profile-picture {
        height: 6em;
        width: 6em;
        overflow: hidden;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .menu {
        a {
            color: #828282 !important;
            font-size: 1.4em;
            font-weight: 600 !important;
            font-size: 1.1em !important;
            &:hover {
                text-decoration: none !important;
                color: #4d4d4d !important;
            }
        }
    }

}
.main {
    transition: .4s ease-in-out;
    margin-left: 0;
}
.navShow {
    width: 20em !important;
}

.slideMain {
    margin-left: 20em !important;
    transition: .4s ease-in-out;
}

button.logout {
    background-color: transparent !important;
    border: none !important;
    color: #828282 !important;
    font-size: 1.4em;
    font-weight: 600 !important;
    font-size: 1.1em !important;
    &:hover {
        color: #4d4d4d !important;
    }
}

$breakpoint-sm: 576px;
@media (max-width: $breakpoint-sm) {
    .navShow {
        width: 100vw !important;
    }
    .hideMain {
        display: none !important;
    }
}
