@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    padding: 1rem 3rem 0 3rem !important;
}

.title {    
    h3, h5 {
        font-weight: 600 !important;
    }
}

.menus {
    z-index: 2;
   .menu {
       margin-right: .1rem !important;
       background-color: white;
       h4 {
           margin: 0 !important;
           font-weight: 500 !important;
       }
   }
}

.soal {
    .box {
        padding: 3em;
        border-top: none !important;
        border-left: none !important;
        h4 {
            margin: 0 !important;
        }
        .tandai {
            color: #EB5757 !important;
        }
    }
    .box-kiri {
        min-width: 50vw !important;
    }
}

.nomor {
    align-self: flex-start;
    h5 {
        font-weight: 600 !important;
    }
    .angka {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr);
        gap: .5em;
        div {
            padding: .3em;
            border-radius: .3rem !important;
            font-size: 1.2rem !important;
            background-color: #f2f2f2 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600 !important;
            &::before {
                content: "" !important;
                padding-bottom: 100% !important;
                display: inline-block !important;
                vertical-align: top !important;
            }
        }
    }
    .button-tipe {
        border-radius: .5rem !important;
        background-color: #67A69D;
        color: #fff !important;
        font-weight: 600 !important;
    }
}

.button-kembali, .button-selanjutnya {
    color: white !important;
    border-radius: .5rem !important;
    font-weight: 600 !important;
}

.button-kembali {
    background-color: #E9D038;
}

.button-selanjutnya {
    background-color: #67A69D;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

@media (max-width: $breakpoint-md) {
    .menu {
        h4 {
            font-size: 1rem !important;
        }
    }
    .soal {
        .box-kiri {
            margin-right: 0 !important;
            margin-bottom: .5rem !important;
        }
    }
}

@media (max-width: $breakpoint-md) {
}

@media (max-width: $breakpoint-sm) {
    .wrapper {
        padding: 1rem 1rem 0 1rem !important;
    }    
}
