.navbar {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.navbar img {
  height: 2.4rem;
}

.nav-item {
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  align-items: center;
}

.nav-item a {
  font-weight: 700 !important;
}

.rounded-pill {
  border: 4px solid #E9D038 !important;
  color: #FFC839 !important;
}

.rounded-pill:hover {
  border-color: rgba(0, 0, 0, 0.7) !important;
}

a.nav-link {
  color: rgba(0, 0, 0, 0.5);
}

a.nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.register a {
  color: #FFC839;
  border-color: #FFC839 !important;
}

.register a:hover {
  color: #dfa000 !important;
  border-color: #dfa000 !important;
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding-top: 1rem !important;
  }

  .nav-item {
    padding-left: 0 !important;
  }

  .nav-link {
    padding-left: 0 !important;
  }

  .nav-auth {
    justify-content: flex-start !important;
    display: flex;
    flex-direction: column;
  }

  .nav-auth .daftar {
    border: none !important;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .navbar img {
    height: 2rem;
  }
}

