@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap);body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  padding: 1rem 3rem 0 3rem !important;
}

.title h3,
.title h5 {
  font-weight: 600 !important;
}

.menus .menu {
  margin-right: 0.1rem !important;
  background-color: #c4c4c4;
}

.menus .menu h4 {
  margin: 0 !important;
  font-weight: 500 !important;
}

.menus .menu:hover {
  cursor: pointer;
}

.menus .menu-active {
  background-color: #fff !important;
}

.soal .tandai {
  cursor: pointer;
}

.soal .soal-isi {
  white-space: pre-wrap;
}

.soal .soal-gambar {
  width: 100%;
  height: auto;
}

.soal .box {
  padding: 3em;
  border-top: none !important;
  border-left: none !important;
}

.soal .box h4 {
  margin: 0 !important;
}

.soal .box .tandai {
  color: #EB5757 !important;
}

.soal .box-kiri {
  min-width: 50vw !important;
}

.nomor {
  align-self: flex-start;
}

.nomor h5 {
  font-weight: 600 !important;
}

.nomor .angka {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}

.nomor .angka div {
  padding: 0.3em;
  cursor: pointer;
  border-radius: 0.3rem !important;
  font-size: 1.2rem !important;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
}

.nomor .angka div::before {
  content: "" !important;
  padding-bottom: 100% !important;
  display: inline-block !important;
  vertical-align: top !important;
}

.nomor .angka .angka-active {
  background-color: #828282;
}

.nomor .angka .answered {
  background-color: #828282 !important;
}

.nomor .angka .angka-marked {
  box-shadow: 0 0 0 3px #EB5757;
}

.nomor .button-tipe {
  border-radius: 0.5rem !important;
  background-color: #67A69D;
  color: #fff !important;
  font-weight: 600 !important;
}

.btn-yellow {
  background-color: #E9D038;
  color: white;
  font-weight: 500 !important;
  opacity: 0.8;
  min-width: 8em;
  border-radius: 0.7em;
}

.btn-yellow:hover {
  opacity: 1;
  color: white;
}

.btn-yellow button {
  font-weight: 600 !important;
}

.btn-green {
  background-color: #67A69D;
  color: white;
  min-width: 8em;
  font-weight: 500 !important;
  opacity: 0.8;
  border-radius: 0.7em;
}

.btn-green:hover {
  opacity: 1;
  color: white;
}

.pembahasan {
  background-color: #E9D038;
  padding: 1em 3em;
}

.finish-attempt div {
  font-weight: 600 !important;
  color: #EB5757;
  opacity: 0.8 !important;
}

.finish-attempt:hover {
  text-decoration: none !important;
}

.finish-attempt:hover div {
  opacity: 1 !important;
}

/* Finish attempt page */
.finish-attempt-page {
  display: none;
  padding: 0 3em;
  padding-bottom: 2em;
  font-size: 2em;
}

.results {
  width: 50em;
}

.title h3 {
  font-size: 1.3em !important;
  font-weight: bold;
}

.finish-attempt-page button {
  margin: 1em 0;
}

.finish-attempt-page .buttons {
  font-size: 1em;
}

.final-submit-btn {
  background-color: #67A69D;
  color: white;
  font-weight: 500 !important;
  opacity: 0.8;
  border-radius: 0.7em;
  padding: .5em 1em;
  width: max-content;
  border: none;
}

.return-to-attempt {
  background-color: #E9D038;
  color: white;
  font-weight: 500 !important;
  opacity: 0.8;
  border-radius: 0.7em;
  outline: none;
  border: none;
  padding: .5em 1.5em;
  width: max-content;
}

.return-to-attempt:hover {
  opacity: 1;
}

.results {
  background: white;
  padding: 1em 2em;
  border-radius: 0.7em;
  margin: 1em 0;
  border: 1px solid #C4C4C4;
}

.results-table {
  margin: 0 1em;
}

.underline {
  width: 100%;
  border: .7px solid #E0E0E0;
}

.results tbody * {
  font-size: 1em;
  margin: .1em 0;
}

.results thead * {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.04em;
  margin: 0;
}

.table-title h1 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 1em;
}

.index {
  padding-right: 2em;
}

.index h5 {
  margin-left: .5em;
}

.index img {
  margin-left: 1em;
  width: 1em;
}

.status-soal {
  font-weight: normal;
  text-align: center;
}

.belum-di-jawab {
  color: #EB5757;
}

@media (max-width: 1785px) {
  .finish-attempt-page {
    font-size: 1.5em;
  }
}

@media (max-width: 1420px) {
  .finish-attempt-page {
    font-size: 1em;
  }
}

@media (max-width: 1045px) {
  .scroll {
    overflow-x: scroll;
    width: 55vw;
  }  
}

.finish-attempt-page {
  display: none;
}

.finish-attempt-page .card .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  overflow-x: auto;
}

.finish-attempt-page .card .kolom {
  display: grid;
  grid-template-rows: repeat(37, 1fr);
  text-align: center;
}

.finish-attempt-page .card .kolom h3 {
  text-align: left;
  grid-row: 1/3;
}

.finish-attempt-page .card .kolom .baris {
  display: grid;
  grid-template-columns: 15% 20% 65%;
}

.finish-attempt-page .card .kolom .baris .status {
  grid-column: 3;
}

@media (max-width: 768px) {
  .finish-attempt-page {
    font-size: .8em;
  }

  .scroll {
    width: 50vw;
  }  

  .angka {
    grid-template-columns: repeat(8, 1fr) !important;
  }

  .menu h4 {
    font-size: 1rem !important;
  }

  .soal .box-kiri {
    margin-right: 0 !important;
  }
}

@media (max-width: 576px) {
  .finish-attempt-page {
    font-size: 1em;
  }

  .scroll {
    width: 80vw;
  } 

  .wrapper {
    padding: 1rem 0.5rem 1rem 0.5rem !important;
  }

  .text-larger {
    font-size: 1.3em !important;
  }

  .finish-attempt div {
    font-size: 1.5em;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 190px) !important;
  }

  .kolom h3 {
    grid-row: 1/2 !important;
  }
}

