@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap);body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  padding: 1rem 3rem 0 3rem !important;
}

.title h3,
.title h5 {
  font-weight: 600 !important;
}

.menus .menu {
  margin-right: 0.1rem !important;
  background-color: #c4c4c4;
}

.menus .menu h4 {
  margin: 0 !important;
  font-weight: 500 !important;
}

.menus .menu:hover {
  cursor: pointer;
}

.menus .menu-active {
  background-color: #fff !important;
}

.soal .tandai {
  cursor: pointer;
}

.soal .soal-isi {
  white-space: pre-wrap;
}

.soal .box {
  padding: 3em;
  border-top: none !important;
  border-left: none !important;
}

.soal .box h4 {
  margin: 0 !important;
}

.soal .box .tandai {
  color: #EB5757 !important;
}

.soal .box-kiri {
  min-width: 30vw !important;
}

.nomor {
  align-self: flex-start;
}

.nomor h5 {
  font-weight: 600 !important;
}

.nomor .angka {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}

.nomor .angka div {
  padding: 0.3em;
  cursor: pointer;
  border-radius: 0.3rem !important;
  font-size: 1.2rem !important;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
}

.nomor .angka div::before {
  content: "" !important;
  padding-bottom: 100% !important;
  display: inline-block !important;
  vertical-align: top !important;
}

.nomor .angka .angka-active {
  background-color: #828282;
}

.nomor .angka .angka-marked {
  box-shadow: 0 0 0 3px #EB5757;
}

.nomor .button-tipe {
  border-radius: 0.5rem !important;
  background-color: #67A69D;
  color: #fff !important;
  font-weight: 600 !important;
}

.btn-yellow {
  background-color: #E9D038;
  color: white;
  font-weight: 500 !important;
  opacity: 0.8;
  width: 8em;
  border-radius: 0.7em;
}

.btn-yellow:hover {
  opacity: 1;
  color: white;
}

.btn-yellow button {
  font-weight: 600 !important;
}

.btn-green {
  background-color: #67A69D;
  color: white;
  width: 8em;
  font-weight: 500 !important;
  opacity: 0.8;
  border-radius: 0.7em;
}

.btn-green:hover {
  opacity: 1;
  color: white;
}

@media (max-width: 768px) {
  .angka {
    grid-template-columns: repeat(8, 1fr) !important;
  }

  .menu h4 {
    font-size: 1rem !important;
  }

  .soal .box-kiri {
    margin-right: 0 !important;
    margin-bottom: 0.5rem !important;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 1rem 1rem 0 1rem !important;
  }
}

